header {
    background-color:blue;
    position: absolute;
    width: 80%;
    height: 50%;
    align-content: initial;
    margin: 100px;


    }

    header img {
        width: 500px;
        height:250px;
        justify-content: space-evenly;
        text-align: center;
  
              

    }



    